<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_Normal" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint name="WSHttpBinding_ILionApplicationService" address="http://localhost/AdminBusinesslogic/LionApplicationService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Normal" contract="Asysco.Lion.Admin.Application.Client.ILionApplicationService">
        <identity>
          <userPrincipalName value="NB269\ASPNET"/>
        </identity>
      </endpoint>
      <endpoint name="WSHttpBinding_ILionConfigurationService" address="http://localhost/AdminBusinesslogic/LionConfigurationService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Normal" contract="Asysco.Lion.Admin.Configuration.Client.ILionConfigurationService">
        <identity>
          <userPrincipalName value="NB269\ASPNET"/>
        </identity>
      </endpoint>
      <endpoint name="WSHttpBinding_ILionPrinterService" address="http://localhost/AdminBusinesslogic/LionPrinterService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Normal" contract="Asysco.Lion.Admin.Configuration.Client.ILionPrinterService">
        <identity>
          <userPrincipalName value="NB269\ASPNET"/>
        </identity>
      </endpoint>
      <endpoint name="WSHttpBinding_ILionMessageService" address="http://localhost/AdminBusinesslogic/LionMessageService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Normal" contract="Asysco.Lion.Admin.Messages.Client.ILionMessageService">
        <identity>
          <userPrincipalName value="NB269\ASPNET"/>
        </identity>
      </endpoint>
      <endpoint name="WSHttpBinding_ILionJobService"  address="http://localhost/AdminBusinesslogic/LionJobService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Normal" contract="Asysco.Lion.Admin.Jobs.Client.ILionJobService" >
        <identity>
          <userPrincipalName value="NB269\ASPNET" />
        </identity>
      </endpoint>
      <endpoint name="WSHttpBinding_ILionPrintService" address="http://localhost/AdminBusinesslogic/LionPrintService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Normal" contract="Asysco.Lion.Admin.Prints.Client.ILionPrintService">
        <identity>
          <userPrincipalName value="NB269\ASPNET"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>

<!--<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ILionJobService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://nb237.asysco.local/AdminBusinesslogic/LionJobService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILionJobService"
          contract="ILionJobService" name="WSHttpBinding_ILionJobService">
       
        <identity>
          <userPrincipalName value="NB237\ASPNET" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>-->
