/* **********************************************************
   * File      : AmtPanel.css                               *
   * Date      : 12-11-2021                                 *
   * Copyright : Asysco Software BV (http://www.asysco.com) *
   * Product   : Amt                                        *
   **********************************************************/

/*Panel */
.CPanel {
  position: absolute;
  background-color: inherit;
  border-color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
