/* **********************************************************
   * File      : AmtScrollBox.css                           *
   * Date      : 2-12-2021                                 *
   * Copyright : Asysco Software BV (http://www.asysco.com) *
   * Product   : Amt                                        *
   **********************************************************/

/*ScrollBox */
.CScroll {
  position: absolute;
  background-color: inherit;
  border-color: white;
  padding: 0;
  margin: 0;
  z-index : 1005;
  overflow: auto;
}

.CSS_3D {
  border-style: inset !important;
  border-color: white !important;
}

.CSS_UNDERLINE {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.CSS_SINGLE {
  border-color: black;
  border-bottom: 1px;
  border-bottom-style: solid;
}
